<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bitcoin.API.AStarLabs" version="1.0.0" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="com.astarlabs.bitcoin.api" version="1.0.0" targetFramework="net452" />
  <package id="jose-jwt" version="2.3.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="RestSharp" version="105.1.0" targetFramework="net452" />
</packages>